body {
    background-color:dodgerblue;
}

.socialMedia {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%
}

.jobs {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%
}

.business {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%
}